apiVersion: v1
kind: Service
metadata:
  name: sqlserver-service
  namespace: peo-platform
spec:
  selector:
    app: sqlserver
  ports:
  - port: 1433
    targetPort: 1433
    protocol: TCP
  clusterIP: None
